<div class="container">
    <h1 class="text-center">Khoá học của tôi</h1>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Mô tả ngắn</th>
                <th scope="col text-center" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>

            {{#each courses}}
            <tr>
                <th scope="row">{{ sum @index 1 }}</th>
                <td>{{ this.name }}</td>
                <td>{{ this.description }}</td>
                <td>
                    <a href="#">Sửa</a>
                </td>
                <td>
                    <a href="#">Xoá</a>
                </td>
            </tr>
            {{/each }}
        </tbody>
    </table>
</div>